@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  color: white;
  background-color: #000000;
}

.video{
  object-fit: cover;
  height: 100%;
  background-color: #535bf2;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.splash {
  animation: fadeOut 3s ease;
}

.small-button{
  padding: 0.5rem 1rem;
  background-color: #000000;
}

.gradient{
  background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}
